!.gitkeep

.DS_Store
*.pyc
*.scssc
*.sassc
.sass-cache
.scss-cache

npm-debug.log

session
tmp
temp
logs
log

composer.lock

.idea
*.iml

app/build
app/Modules/*
app/runtime/*
app/Tests/App/runtime/*
app/vendor/*
app/config/settings_local.php
app/config/settings_test.php

www/webgrind
www/static/vendor
www/static/css
www/public
www/media
www/test.php
www/static_admin
www/yandex_*

yii_db_local.php
node_modules

www/753dcefacb8bf9b12d3527e86490e8c9/links.db
www/753dcefacb8bf9b12d3527e86490e8c9/articles.db
