!.gitkeep
.DS_Store
*.pyc
*.scssc
*.sassc
.sass-cache
.scss-cache
npm-debug.log
session
tmp
temp
logs
log
composer.lock

.idea
*.iml
app/Modules/*
app/runtime/*
app/vendor/*
app/config/settings_local.php
app/config/settings_test.php
www/media
www/static_admin
node_modules