<section block-ui="games-developers">
    <h1>Developers</h1>

    <ul class="no-bullet" ng-repeat="model in models.objects">
        <li>
            <h4><a href="{{ model.absoluteUrl }}">{{ model.name }}</a></h4>
        </li>
    </ul>

    <ul class="pagination" ng-show="{{ pager.pagesCount > 1 }}">
        <li class="{{ pager.hasPrevious() ? '' : 'disabled' }}">
            <a href="" ng-click="pager.previousPage()">&larr;</a>
        </li>
        <li ng-click="pager.toPage(pager.currentPage() - 3)" ng-show="pager.hasPage(pager.currentPage() - 3)">
            <a href="">{{ pager.currentPage() - 3 }}</a>
        </li>
        <li ng-click="pager.toPage(pager.currentPage() - 2)" ng-show="pager.hasPage(pager.currentPage() - 2)">
            <a href="">{{ pager.currentPage() - 2 }}</a>
        </li>
        <li ng-click="pager.toPage(pager.currentPage() - 1)" ng-show="pager.hasPage(pager.currentPage() - 1)">
            <a href="">{{ pager.currentPage() - 1 }}</a>
        </li>

        <li class="active">
            <a href="">{{ pager.currentPage() }}</a>
        </li>

        <li ng-click="pager.toPage(pager.currentPage() + 1)" ng-show="pager.hasPage(pager.currentPage() + 1)">
            <a href="">{{ pager.currentPage() + 1 }}</a>
        </li>
        <li ng-click="pager.toPage(pager.currentPage() + 2)" ng-show="pager.hasPage(pager.currentPage() + 2)">
            <a href="">{{ pager.currentPage() + 2 }}</a>
        </li>
        <li ng-click="pager.toPage(pager.currentPage() + 3)" ng-show="pager.hasPage(pager.currentPage() + 3, 1)">
            <a href="">{{ pager.currentPage() + 3 }}</a>
        </li>
        <li class="{{ pager.hasNext() ? '' : 'disabled' }}">
            <a href="" ng-click="pager.nextPage()">&rarr;</a>
        </li>
    </ul>
</section>