{% extends request.isAjax ? "ajax.html" : "base.html" %}

{% block breadcrumbs %}
    {% set this.breadcrumbs = [
    [
    'name' => 'Партнеры'
    ]
    ]%}
    {% parent %}
{% endblock %}

{% block heading %}
    <h1 class="title">Партнеры</h1>
{% endblock %}

{% block content %}
    <section class="partners-list-holder">
        <ul class="partners-list no-bullet">
            {% for partner in partners %}
                <li>
                    {{ partner.name }}

                    {% if partner.logo.url %}
                        <img src="{{ partner.logo.url_preview }}" alt="{{ partner.name }}"/>
                    {% endif %}

                    {{ partner.address }}

                    {% if partner.email %}
                        <a href="mailto:{{ partner.email }}" class="transparent-link">
                            {{ partner.email }}
                        </a>
                    {% endif %}

                    {{ partner.phone }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
