<?php

return \Mindy\Utils\Settings::override(require(dirname(__FILE__) . '/settings.php'), [
    'components' => [
        'db' => [
            'class' => '\Mindy\Query\ConnectionManager',
            'databases' => [
                'default' => [
                    'class' => '\Mindy\Query\Connection',
                    'dsn' => 'mysql:host=localhost;dbname=mindy',
                    'username' => 'root',
                    'password' => '123456',
                    'charset' => 'utf8',
                ]
            ]
        ],
        'cache' => [
            'class' => '\Mindy\Cache\DummyCache'
        ],
        'mail' => [
            'class' => '\Modules\Mail\Components\DbMailer',
        ],
        'middleware' => [
            'class' => '\Mindy\Middleware\MiddlewareManager',
            'middleware' => [
                'CurrentSiteMiddleware' => [
                    'class' => '\Modules\Sites\Middleware\CurrentSiteMiddleware'
                ],
                'RedirectMiddleware' => [
                    'class' => '\Modules\Redirect\Middleware\RedirectMiddleware'
                ],
            ]
        ]
    ],
]);
