#header {
  .header-inner {
    $logoWidth: 60px;
    line-height: $header-height;

    .logo {
      width: $logoWidth;
      height: $header-height;
      margin: 0px;

      a {
        display: inline-block;
        width: $logoWidth;
        height: $header-height;
        line-height: $header-height;

        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .header-block {
    height: $header-height;
    line-height: $header-height;
    &.no-logic-align{
      line-height: 100px;
    }
    &.site-selector{
      line-height: 94px;
    }
    .header-multiline {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
    }
  }

  .header-bottom {
    .header-bottom-inner {
      border-top: 1px solid #dde3e7;

      .call-us {
        float: right;
        height: 35px;
        width: 200px;
        text-align: center;
        line-height: 32px;
        margin-top: 21px;
        font-size: 14px;
      }
    }
  }
}
