#header {
  .header-inner {
    $logoWidth: 60px;
    line-height: $header-height;

    .logo {
      width: $logoWidth;
      height: $header-height;
      margin: 0px;

      a {
        display: inline-block;
        width: $logoWidth;
        height: $header-height;
        line-height: $header-height;

        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .header-block {
    height: $header-height;
    line-height: $header-height;

    .header-multiline {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
    }
  }
}
