$menuColor: $strong-color;
$menuColorHover: $strong-color;
$menuHeight: 74px;
$menuBackgroundColor: $t;
$menuBackgroundColorHover: $t;

.main-menu {
  font-size: 14px;
  width: 100%;
  height: $menuHeight;
  background-color: $menuBackgroundColor;
  position: relative;

  li {
    text-align: center;

    a {
      text-decoration: none;
      display: block;
      line-height: $menuHeight;
      color: $menuColor;
    }

    ul {
      top: $menuHeight;
      display: none;
      position: absolute;
      background-color: $menuBackgroundColor;
      z-index: 100;

      li {
        display: block;

        a {
          line-height: 1.5;
        }
      }
    }

    &:hover {
      background-color: $menuBackgroundColorHover;

      a {
        color: $menuColorHover;
      }
      ul {
        display: block;
      }
    }

    &:last-child {
      ul {
        right: 0px;
      }
    }

    &.has-subitems {
      a::after {
        display: inline-block;
        content: "";
        margin-left: 5px;
        width: 0;
        height: 0;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 5px solid $menuColor;
        position: relative;
        top: -1px;
      }

      ul {
        li {
          a::after {
            display: none;
          }
        }
      }
    }
  }
}

.main-menu.tabled {
  display: table;

  li {
    display: table-cell;

    a {
      height: 100%;
    }
  }
}

.main-menu.justify {
  list-style-type: none;
  text-align: justify;

  li {
    display: inline-block;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}