@import "compass/css3";

.mmodal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  background: rgba(0, 0, 0, 0.76);
  z-index: 8888;
  display: none;
  top: 0;
  left: 0;
  overflow-y: scroll;

  &.clickable {
    cursor: pointer;
  }
}

.mmodal-container {
  display: none;
  position: relative;
  z-index: 8889;
  cursor: default;
  margin: 100px auto;
  img {
    max-width: 100%;
    height: auto;
  }
  .mmodal-close {
    text-decoration: none;
    font-size: 32px;
    line-height: 0.5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
  }
  .mmodal-content {
    @include border-radius;
    @include background-clip(padding-box);
    @include box-shadow(3px 4px 35px rgba(92, 99, 100, 0.27));
    padding: 30px;
    background-color: white;
  }
}

@mixin mmodal-media {
  .mmodal-container {
    width: 100% !important;
    margin: 0 auto;
    .mmodal-content {
      @include border-radius(0);
      overflow-y: auto;
    }
  }
}

@media only screen and (max-width: 560px) {
  @include mmodal-media
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  @include mmodal-media
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @include mmodal-media
}
