.mmodal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  background: rgba(0, 0, 0, 0.76);
  z-index: 8888;
  display: none;
  top: 0;
  left: 0;
  overflow-y: scroll;

  &.clickable {
    cursor: pointer;
  }
}

.mmodal-container {
  display: none;
  position: relative;
  z-index: 8889;
  cursor: default;
  margin: 100px auto;
  img {
    max-width: 100%;
    height: auto;
  }
  .mmodal-close {
    text-decoration: none;
    font-size: 32px;
    line-height: 0.5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
  }
  .mmodal-content {
    @include border-radius;
    @include background-clip(padding-box);
    @include box-shadow(3px 4px 35px rgba(92, 99, 100, 0.27));
    padding: 30px;
    background-color: white;
  }
}

@mixin mmodal-media {
  .mmodal-container {
    width: 100% !important;
    margin: 0 auto;
    .mmodal-content {
      @include border-radius(0);
      overflow-y: auto;
    }
  }
}

@media only screen and (max-width: 560px) {
  @include mmodal-media
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  @include mmodal-media
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  @include mmodal-media
}

/* Preloader */
@mixin crossbrowser($name, $value) {
  -webkit-#{$name}: $value;
  -khtml-#{$name}: $value;
  -moz-#{$name}: $value;
  -o-#{$name}: $value;
  #{$name}: $value;
}

.mmodal-loader {
  display: none;
}

body.mmodal-loading {
  overflow: hidden;
  $preloaderSize: 30px;

  .mmodal-loader {
    display: block;
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.76);

    &:before {
      content: '';
      position: fixed;
      width: $preloaderSize;
      height: $preloaderSize;
      left: 50%;
      top: 50%;
      margin-left: -$preloaderSize/2;
      margin-top: -$preloaderSize/2;
      background-color: #fff;
      @include border-radius($preloaderSize/2);
    }

    &:after {
      $arrowHeight: $preloaderSize/2;
      content: '';
      position: fixed;
      width: 2px;
      background-color: #000;
      height: $arrowHeight;
      left: 50%;
      top: 50%;
      margin-left: -1px;
      margin-top: -$arrowHeight + 2px;

      @include crossbrowser(transform-origin, 50% $arrowHeight - 2px);
      @include crossbrowser(animation-name, spin);
      @include crossbrowser(animation-iteration-count, infinite);
      @include crossbrowser(animation-duration, 1s);
    }
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(360deg));
  }
}