.pager {
  @include reset-list;
  @include clearfix;

  text-align: center;

  li {
    @include inline-block;
    margin: 0 4px;

    &.selected a {
      @include border-radius(3px);
      color: #fff;
      background-color: $secondary-color;
    }

    span {
      color: $concrete;
    }

    span, a {
      padding: 2px 8px;
      &:hover {
        color: #fff;
        background-color: $secondary-color;
      }
    }
  }
}
