{% extends "pages/base.html" %}

{% block heading %}
    <h1>{{ model.name }}</h1>
{% endblock %}

{% block content %}
    <div class="pageset">
        {% if model.content %}
            <article>
                {{ model.content|raw }}
            </article>
        {% endif %}

        <section class="children-list">
            {% for child in children %}
                <div class="row">
                    <div class="column large-12">
                        <h2><a href="{{ child.getAbsoluteUrl() }}">{{ child.name }}</a></h2>
                        {{ child.content_short }}
                    </div>
                </div>
            {% endfor %}

            {{ pager.render("core/pager/simple.html") }}
        </section>
    </div>

{% endblock %}
