@font-face {
    font-family: "Rouble";
    src: url("../fonts/rouble.eot");
    src: url("../fonts/rouble.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble.otf") format("opentype"), url("../fonts/rouble.woff") format("woff"), url("../fonts/rouble.ttf") format("truetype"), url("../fonts/rouble.svg#ALSRubl") format("svg");
}
