pre {
  @include border-radius;
  background-color: #f4f4f4;
  padding: 20px;
  line-height: 1.6;
  font-size: 13px;
  font-family: "Monaco", "Consolas";
}

#chat-container {
  @include box-shadow(3px 4px 35px rgba(92, 99, 100, 0.87));
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 230px;
  z-index: 1000;
  height: 360px;
  padding-top: 10px;
  background-color: #f4f4f4;

  #form-online-chat {
    padding: 10px 10px 0;
    [type="text"] {
      @include float-left;
      @include border-radius(none);
      width: 140px;
      height: 26px;
    }
    [type="submit"] {
      @include float-left;
      @include border-radius(none);
      color: #fff;
      border: 0;
      background-color: #a00;
      padding: 4px 8px;
      margin: 0 0 0 4px;
      font-size: 13px;
    }
  }

  #messages-online-chat {
    @include reset-list;
    @include antialias;

    background-color: #fff;
    padding: 10px;
    height: 310px;
    overflow-y: auto;

    li {
      @include border-radius;
      margin-bottom: 10px;
      background-color: #f1f1f1;
      padding: 5px;
      &.reply {
        background-color: #fcfbd5;
      }
      .from-online-chat {
        font-weight: 700;
      }
    }
  }
}