<section block-ui="games-view">
    <h1>{{ model.name }}</h1>

    <p>{{ model.description }}</p>

    <table class="games-game-detail">
        <tr>
            <th>Дата выхода</th>
            <td>{{ model.release_date }}</td>
        </tr>
        <tr>
            <th>Сайт</th>
            <td><a href="{{ model.website }}" target="_blank">{{ model.website }}</a></td>
        </tr>
        <tr>
            <th>Платформы</th>
            <td>
                <span ng-repeat="platform in model.platform">
                    <a href="/games/platform/{{ platform.slug }}"></a>{{ platform.name }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Разработчик</th>
            <td><a href="/games/developers/{{ model.developer.slug }}">{{ model.developer.name }}</a></td>
        </tr>
        <tr>
            <th>Издатель</th>
            <td><a href="/games/publishers/{{ model.publisher.slug }}">{{ model.publisher.name }}</a></td>
        </tr>
        <tr>
            <th>Жанр</th>
            <td>
                <span ng-repeat="genre in model.genre">
                    <a href="/games/genre/{{ genre.slug }}">{{ genre.name }}</a>
                </span>
            </td>
        </tr>
        <tr>
            <th>Патчи</th>
            <td><a href="/games/{{ model.slug }}/patch">Патчи</a></td>
        </tr>
    </table>

    <h2>Скриншоты</h2>
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
        <li ng-repeat="screenshot in model.screenshots">
            <div class="th">
                <a href="http://mimi-box.com/games.dev/{{ screenshot.file }}">
                    <img src="http://mimi-box.com/games.dev/{{ screenshot.file }}" alt="{{ model.name }}"/>
                </a>
            </div>
        </li>
    </ul>

    <h2>Видео</h2>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
        <li ng-repeat="video in model.videos">
            <div class="flex-video" ng-bind-html="video.html | rawHtml"></div>
            <p>{{ video.name }}</p>
        </li>
    </ul>

    <tabset ng-show="model.mods || model.patches">
        <tab heading="Модификации" ng-show="model.mods">Модификации</tab>
        <tab heading="Патчи" ng-show="model.patches">Патчи</tab>
    </tabset>
</section>

<section block-ui="games-posts" ng-show="posts.objects">
    <h3>Блог</h3>
    <ul class="list no-bullet">
        <li ng-repeat="post in posts.objects">
            <h4><a href="/games/{{ model.slug }}/post/{{ post.url }}">{{ post.name }}</a></h4>
            <p>{{ post.content_short }}</p>
        </li>
    </ul>
</section>