.flash-list {
  @include reset-list;
  li {
    @include border-radius;
    @include antialias;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 14px;

    &.success {
      background-color: green;
      color: #fff;
    }
  }
}
