{% extends "reviews/base.html" %}

{% block content_header %}
    <div class="row">
        <div class="column large-12">
            <h1>Отзывы</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="reviews">
        <ul class="no-bullet reviews-list">
            {% for review in reviews.reviews %}
                <li class="review-holder">
                    <section class="review">
                        <section class="review-description">
                            {{ review.content }}
                        </section>
                        <section class="review-name">
                            {{ review.name }}
                        </section>
                    </section>
                </li>
            {% endfor %}
        </ul>
        {{ pager.render("core/pager/simple.html") }}
    </section>

    <section class="review-form-holder">
        <section class="row">
            <section class="column large-12">
                <section class="title">
                    Оставьте свой отзыв
                </section>
            </section>
        </section>
        <form action="{% url 'reviews.send' %}" method="post" class="ajax-validation">
            {% csrf_token %}
            <section class="row">
                <section class="column large-3">
                    {{ reviews.form.asUl(['name', 'email'])|safe }}

                    <div class="button-holder">
                        <button class="button expand" type="submit">
                            Отправить вопрос
                        </button>
                    </div>
                </section>
                <section class="column large-9">
                    {{ reviews.form.asUl(['content'])|safe }}
                </section>
            </section>
        </form>
    </section>
{% endblock %}