{% extends "reviews/base.html" %}

{% block content_header %}
    <div class="row">
        <div class="column large-12">
            <h1>{{ model.name }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="single-review">
        <section class="row">
            <section class="column large-8">
                <section class="review-description">
                    {{ model.content }}
                </section>
            </section>
            <section class="column large-4">
                <section class="other-reviews-header">
                    <a class="all-reviews-link" href="{% url 'reviews.send' %}">
                        Смотреть все &rarr;
                    </a>
                    <section class="title">
                        Другие отзывы
                    </section>
                    <p class="clear"></p>
                </section>

                {% set random_reviews = get_reviews_random(3, review.id) %}
                <ul class="other-reviews-list no-bullet">
                    {% for review in random_reviews %}
                        <li>
                            <section class="review-description">
                                {{ review.content|limit(100) }}
                                {% if review.content|length > 100 %}
                                    <a class="review-all" href="{{ review.getAbsoluteUrl() }}">
                                        Весь&nbsp;отзыв&nbsp;&rarr;
                                    </a>
                                {% endif %}
                            </section>
                            <section class="review-name">
                                {{ review.name }}
                            </section>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </section>
    </section>
{% endblock %}