{% extends "base.html" %}

{% block breadcrumbs %}
    {% set this.breadcrumbs = [
        [
            'name' => 'Вопрос-ответ',
            'url' => '.'
        ],
        [
            'name' => category.name
        ]
    ] %}
    {% parent %}
{% endblock %}

{% block content_header %}
    <div class="row">
        <div class="column large-12">
            <h1>{{ category.name }}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="faq-category">
        <section class="row">
            <section class="column large-3">
                <section class="antibank-sidebar">
                    <ul class="slidebar-items">
                        {% set categories = get_faq_categories(false) %}
                        {% for item in categories.categories %}
                            <li {% if item.id == category.id %}class="active"{% endif %}>
                                <a href="{{ item.getAbsoluteUrl() }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <section class="contact-us-block">
                        <section class="info">
                            Не нашли интересующий вас вопрос? Задайте его нам
                        </section>
                        <a class="button red expand round shadow mmodal" href="{% url 'antibank.question' %}">
                            Задать вопрос
                        </a>
                    </section>
                </section>
            </section>
            <section class="column large-9">
                <dl class="accordion" data-accordion>
                    {% for question in questions %}
                        <dd class="accordion-navigation {% if loop.first %}active{% endif %}">
                            <a href="#q-{{ question.id }}">
                                {{ question.question }}
                            </a>
                            <div id="q-{{ question.id }}" class="content {% if loop.first %}active{% endif %}">
                                {% for answer in question.answers %}
                                    {% if answer.answer %}
                                        <b>Ответ:</b> {{ answer.answer|nl2br|safe }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </dd>
                    {% endfor %}
                </dl>
                {{ pager.render('core/pager/simple.html')|raw }}
            </section>
        </section>
    </section>
{% endblock %}

{% block footer_class %}top-line{% endblock %}
