<section block-ui="games-genre-view">
    <h1>{{ model.name }}</h1>
</section>

<section block-ui="games-genre-view-games">
    <p class="bar right">
        <a class="list-icon" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
        <a class="grid-icon" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
    </p>

    <h1>Games</h1>

    <ul block-ui="games-index" ng-show="layout == 'grid'" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 grid no-bullet">
        <li ng-repeat="game in games.objects">
            <h4><a href="{{ game.absoluteUrl }}">{{ game.name }}</a></h4>
            <p>{{ game.description }}</p>
        </li>
    </ul>

    <ul block-ui="games-index" ng-show="layout == 'list'" class="list no-bullet">
        <li ng-repeat="game in games.objects">
            <h4><a href="{{ game.absoluteUrl }}">{{ game.name }}</a></h4>
            <p>{{ game.description }}</p>
            <p>Developer: <a href="{{ game.developer.absoluteUrl }}">{{ game.developer.name }}</a></p>
        </li>
    </ul>
</section>