<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% block seo %}{{ meta(this) }}{% endblock %}
    <meta name="author" content="Studio107">
    <meta name='yandex-verification' content='4280b4fe8b365ca5'>
    <meta name="robots" content="noindex, nofollow">
    {% block head %}{% endblock %}

    <meta name="DC.title" content="Studio107">
    <meta name="DC.creator" content="Studio107">

    {% block css %}{% endblock %}

    <link rel="stylesheet" href="/static/dist/css/1.0.0.all.css"/>
    <script type="application/javascript" src="/static/dist/js/1.0.0.all.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon72px.png">
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="/favicon57px.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="/favicon72px.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="/favicon114px.png" />
</head>
<body>
<section id="wrapper">
    <header id="header">
        <section class="header-inner row">
            <section class="columns large-3">
                <section class="logo">
                    <a class="logo-link" href="/">
                        <img src="/static/dist/images/main/logo.png" alt=""/>
                    </a>
                </section>
            </section>
            <section class="columns large-9">
                <div class="menu-holder">
                    <menu class="menu no-bullet main-menu justify">
                        {{ get_menu('main-menu')|safe }}
                    </menu>
                </div>
            </section>
        </section>
    </header>
    <p class="clear"></p>
    <section id="main">
        <section id="content">
            {% block flash %}
                {% include "_flash.html" %}
            {% endblock %}

            <section class="content-header {% block content_header_classes %}{% endblock %}">
                {% block breadcrumbs %}
                    {% include "_breadcrumbs.html" %}
                {% endblock %}
            </section>

            {% block main %}
                <section class="row">
                    <section class="content columns large-12">
                        {% block heading %}{% endblock %}
                        {% block content %}{% endblock %}
                    </section>
                </section>
            {% endblock %}

            {% block after_content %}{% endblock %}

            <p class="clear"></p>
        </section>
    </section>
    <p id="push"></p>
</section>

<section id="footer">
    <section id="footer-inner">
        <section class="row">
            <section class="column large-12">
                <section class="footer-data">
                    <section class="inline-block about">
                        <section class="footer-multiline">
                            {{ param('core.core.sitename') }}<br/>
                            Все права защищены.
                        </section>
                    </section>

                    <section class="inline-block address-info right">
                            <section class="author">
                                <section class="author-info">
                                    Разработка сайта<br/>
                                    <address>
                                    <a class="transparent-link" href="http://studio107.ru" target="_blank">
                                        Студия 107 &copy; {{ "now"|date("Y") }}
                                    </a>
                                    </address>
                                </section>
                                <section class="author-icon">
                                    <i class="icon-107"></i>
                                </section>
                            </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    </section>

    {% block js %}{% endblock %}

</body>
</html>
