<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% block seo %}{{ meta(this) }}{% endblock %}
    <meta name="author" content="Studio107">
    {% block head %}{% endblock %}

    <meta name="DC.title" content="Studio107">
    <meta name="DC.creator" content="Studio107">

    {% block css %}{% endblock %}

    <link rel="stylesheet" href="/static/css/reset.css"/>
    <link rel="stylesheet" href="/static/css/screen.css"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body>

{% include '_statistics.html' %}

<section id="wrapper">
    <header id="header">
        <section class="header-inner row">
            <section class="columns small-12">
                <div class="menu-holder">
                    <menu class="menu no-bullet main-menu justify">
                        {{ get_menu('main-menu')|safe }}
                    </menu>
                </div>
            </section>
        </section>
    </header>
    <p class="clear"></p>
    <section id="main">
        <section id="content">
            {% block flash %}
                {% include "_flash.html" %}
            {% endblock %}

            <section class="content-header {% block content_header_classes %}{% endblock %}">
                {% block breadcrumbs %}
                    {% include "_breadcrumbs.html" %}
                {% endblock %}
            </section>

            {% block main %}
                <section class="row">
                    <section class="content columns large-12">
                        {% block heading %}{% endblock %}
                        {% block content %}{% endblock %}
                    </section>
                </section>
            {% endblock %}

            {% block after_content %}{% endblock %}

            <p class="clear"></p>
        </section>
    </section>
    <p id="push"></p>
</section>

<section id="footer">
    Mindy CMS &copy; {{ "now"|date("Y") }}
</section>

{% block js %}{% endblock %}

</body>
</html>
