<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <base href="/" />
    <meta charset="utf-8">
    {% block meta %}
        {{ meta(this) }}
    {% endblock %}
    {%- if this.canonical -%}
        <link rel="canonical" href="{{ this.canonical }}" />
    {%- endif -%}
    <meta name="author" content="Falaleev Maxim">
    <meta name="document-state" content="dynamic"/>
    <meta name="resource-type" content="document"/>
    <meta name="rating" content="General"/>
    <meta name="audience" content="all"/>
    <meta name="author" content="Studio107"/>
    <meta name="cmsmagazine" content="b4e5e2e2ee8b18f03662dc0ab840ddcb"/>
    <meta name='yandex-verification' content='4280b4fe8b365ca5' />
    {% block head %}{% endblock %}

    <meta name="DC.title" content="Studio107">
    <meta name="DC.subject" content="Web studio">
    <meta name="DC.creator" content="Studio107">

    {% block css %}{% endblock %}

    <link rel="stylesheet" href="/static/dist/css/main/1.0.0.all.css"/>
    <script type="application/javascript" src="/static/dist/js/1.0.0.all.js"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon72px.png">
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="/favicon57px.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 132dpi)" href="/favicon72px.png" />
    <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="/favicon114px.png" />
</head>
<body class="{% block body_class %}{% endblock %}" ng-app="App">

{% include "_statistics.html" %}

<section id="wrapper">
    <header id="header">
        <section class="header-inner row">
            <section class="columns large-12">
                <menu class="menu main-menu right">
                    {% if user.isGuest %}
                        <li><a href="{% url 'user.login' %}">{{ t('Login', 'user') }}</a></li>
                        <li><a href="{% url 'user.registration' %}">{{ t('Registration', 'user') }}</a></li>
                    {% else %}
                        <li><a href="{% url 'user.profile' %}">{{ t('Profile', 'user') }}</a></li>
                    {% endif %}
                </menu>
                <h1 class="logo">
                    <a class="logo-link" href="/">
                        {{ param('core.core.sitename') }}
                    </a>
                </h1>
                <menu class="menu main-menu">
                    {{ get_menu('header-menu')|safe }}
                </menu>
            </section>
        </section>
        {% block header_content %}{% endblock %}
    </header>
    <p class="clear"></p>
    <section id="main">
        <section id="content">
            {% block flash %}
                {% include "_flash.html" %}
            {% endblock %}

            <section class="content-header {% block content_header_classes %}{% endblock %}">
                {% block breadcrumbs %}
                    {% include "_breadcrumbs.html" %}
                {% endblock %}

                {% block content_header %}
                {% endblock %}
            </section>

            {% block main %}
                <section class="row">
                    <section class="content columns large-12" ng-controller="{% block controller %}{% endblock %}" ng-view>
                        {% block heading %}{% endblock %}
                        {% block content_before %}{% endblock %}
                        {% block content %}{% endblock %}
                        {% block comments %}{% endblock %}
                    </section>
                </section>
            {% endblock %}

            <p class="clear"></p>
        </section>
    </section>
    <p id="push"></p>
</section>

<section id="footer" class="{% block footer_class %}{% endblock %}">
    <section class="footer-inner row">
        Создание сайта <a href="http://studio107.ru" target="_blank">Студия 107</a> {{ time|date('Y') }} &copy;
        Сайт работает на <a href="http://mindy-cms.com" target="_blank">Mindy CMS</a> &copy;<br/>
        При копировании материалов с сайта, установка ссылки на источник информации обязательна.
    </section>
</section>

{% block js %}{% endblock %}
</body>
</html>
